{
  "openapi": "3.0.3",
  "info": {
    "description": "REST API for Drop RFID. Public endpoints under /public use org-level API keys. Authenticated app endpoints, including routines, use Cognito JWTs and organization membership.\n\nPublic API rate limit: 60 requests/minute and 1000 requests/hour per API key. Standard X-RateLimit-* response headers are returned on public API responses.",
    "title": "Drop RFID API",
    "version": "1.2.0"
  },
  "servers": [
    {
      "description": "production",
      "url": "https://www.droprfid.com/api/v1"
    }
  ],
  "paths": {
    "/public/ai/generate-session": {
      "post": {
        "tags": [
          "Public AI"
        ],
        "summary": "Generate a simulated scan session from a natural-language description",
        "description": "Uses AI to produce a session metadata object and a list of RFID entries based on the provided description. Useful for testing and demo data generation.",
        "operationId": "generateSession",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateSessionResponse"
                }
              }
            },
            "description": "Generated session data."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/public/orders": {
      "get": {
        "tags": [
          "Public Orders"
        ],
        "summary": "List orders for the authenticated organization",
        "operationId": "listOrders",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of orders."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Public Orders"
        ],
        "summary": "Create an order from SKU items",
        "operationId": "createOrder",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            },
            "description": "Order created."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/public/orders/{order_id}": {
      "get": {
        "tags": [
          "Public Orders"
        ],
        "summary": "Fetch an order with its items or RFIDs",
        "operationId": "getOrder",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            },
            "description": "Order detail."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "put": {
        "tags": [
          "Public Orders"
        ],
        "summary": "Update an order's status",
        "operationId": "updateOrder",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "status": {
                    "description": "pending | in_progress | review_required | blocked | completed | cancelled",
                    "type": "string"
                  }
                },
                "required": [
                  "status"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            },
            "description": "Updated order."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/public/sessions": {
      "get": {
        "tags": [
          "Public Sessions"
        ],
        "summary": "List scan sessions for the authenticated organization",
        "operationId": "listSessions",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of sessions with embedded device metadata."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/public/sessions/{session_id}": {
      "get": {
        "tags": [
          "Public Sessions"
        ],
        "summary": "Fetch a single session with scanned RFID tags and device metadata",
        "operationId": "getSession",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "session_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            },
            "description": "Session with embedded device and RFID entries."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/public/skus": {
      "get": {
        "tags": [
          "Public SKUs"
        ],
        "summary": "List SKUs for the authenticated organization",
        "operationId": "listSkus",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SKU"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of SKUs."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Public SKUs"
        ],
        "summary": "Create a SKU",
        "operationId": "createSku",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSkuRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SKU"
                }
              }
            },
            "description": "SKU created."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/public/skus/{sku_id}": {
      "delete": {
        "tags": [
          "Public SKUs"
        ],
        "summary": "Delete a SKU and its RFID bindings",
        "operationId": "deleteSku",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sku_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "Public SKUs"
        ],
        "summary": "Fetch a SKU with its bound RFIDs",
        "operationId": "getSku",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sku_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuDetail"
                }
              }
            },
            "description": "SKU detail with rfids[]."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "put": {
        "tags": [
          "Public SKUs"
        ],
        "summary": "Update a SKU (partial update)",
        "operationId": "updateSku",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sku_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSkuRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SKU"
                }
              }
            },
            "description": "Updated SKU."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/routines": {
      "get": {
        "tags": [
          "Routines"
        ],
        "summary": "List routines for the authenticated organization",
        "description": "Requires Cognito authentication and organization membership.",
        "operationId": "listRoutines",
        "security": [
          {
            "cognitoAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include_disabled",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Routine"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of routines."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Routines"
        ],
        "summary": "Create a routine",
        "description": "Requires Cognito authentication, organization membership, and admin access.",
        "operationId": "createRoutine",
        "security": [
          {
            "cognitoAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoutineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Routine"
                }
              }
            },
            "description": "Routine created."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/routines/{routine_id}": {
      "delete": {
        "tags": [
          "Routines"
        ],
        "summary": "Disable a routine",
        "description": "Requires Cognito authentication, organization membership, and admin access.",
        "operationId": "deleteRoutine",
        "security": [
          {
            "cognitoAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "routine_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Routine disabled."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "get": {
        "tags": [
          "Routines"
        ],
        "summary": "Fetch a routine",
        "description": "Requires Cognito authentication and organization membership.",
        "operationId": "getRoutine",
        "security": [
          {
            "cognitoAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "routine_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Routine"
                }
              }
            },
            "description": "Routine detail."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Routines"
        ],
        "summary": "Update a routine",
        "description": "Requires Cognito authentication, organization membership, and admin access.",
        "operationId": "updateRoutine",
        "security": [
          {
            "cognitoAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "routine_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoutineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Routine"
                }
              }
            },
            "description": "Updated routine."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/routines/{routine_id}/fields/{field_key}/resolve": {
      "post": {
        "tags": [
          "Routines"
        ],
        "summary": "Resolve a configured routine field value",
        "description": "Requires Cognito authentication and organization membership.",
        "operationId": "resolveRoutineField",
        "security": [
          {
            "cognitoAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "routine_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "field_key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveRoutineFieldRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveRoutineFieldResponse"
                }
              }
            },
            "description": "Resolved field value or validation result."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Invalid request body or parameters."
      },
      "Forbidden": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Organization membership or admin access is required."
      },
      "NotFound": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Resource not found."
      },
      "RateLimited": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Rate limit exceeded."
      },
      "Unauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Missing or invalid credentials."
      }
    },
    "schemas": {
      "CreateOrderRequest": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/OrderItemInput"
            },
            "type": "array"
          },
          "order_number": {
            "type": "string"
          }
        },
        "required": [
          "order_number"
        ],
        "type": "object"
      },
      "CreateRoutineRequest": {
        "properties": {
          "code": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/RoutineConfig"
          },
          "description": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "name",
          "config"
        ],
        "type": "object"
      },
      "CreateSkuRequest": {
        "properties": {
          "attributes": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "barcode": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "product_title": {
            "type": "string"
          },
          "rfids": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "size": {
            "type": "string"
          },
          "sku_code": {
            "type": "string"
          },
          "variant_label": {
            "type": "string"
          }
        },
        "required": [
          "sku_code"
        ],
        "type": "object"
      },
      "Device": {
        "properties": {
          "created_at": {
            "format": "date-time",
            "type": "string"
          },
          "device_type": {
            "type": "string"
          },
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "last_seen_at": {
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "format": "uuid",
            "type": "string"
          },
          "serial_number": {
            "type": "string"
          },
          "status": {
            "enum": [
              "active",
              "inactive",
              "decommissioned"
            ],
            "type": "string"
          },
          "updated_at": {
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Error": {
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenerateSessionRequest": {
        "properties": {
          "description": {
            "description": "Natural-language description of the session to generate.",
            "type": "string"
          }
        },
        "required": [
          "description"
        ],
        "type": "object"
      },
      "GenerateSessionResponse": {
        "properties": {
          "metadata": {
            "additionalProperties": true,
            "type": "object"
          },
          "rfid_entries": {
            "items": {
              "$ref": "#/components/schemas/GeneratedRfidEntry"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GeneratedRfidEntry": {
        "properties": {
          "epc": {
            "type": "string"
          },
          "sku_code": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Order": {
        "properties": {
          "created_at": {
            "format": "date-time",
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            },
            "type": "array"
          },
          "order_number": {
            "type": "string"
          },
          "status": {
            "description": "pending | in_progress | review_required | blocked | completed | cancelled",
            "type": "string"
          },
          "updated_at": {
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OrderItem": {
        "properties": {
          "attributes": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "created_at": {
            "format": "date-time",
            "type": "string"
          },
          "expected_quantity": {
            "type": "integer"
          },
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "order_id": {
            "format": "uuid",
            "type": "string"
          },
          "product_title": {
            "type": "string"
          },
          "sku_code": {
            "type": "string"
          },
          "sku_id": {
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OrderItemInput": {
        "properties": {
          "expected_quantity": {
            "minimum": 1,
            "type": "integer"
          },
          "sku_id": {
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "sku_id",
          "expected_quantity"
        ],
        "type": "object"
      },
      "ResolveRoutineFieldRequest": {
        "properties": {
          "input_method": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "input_method",
          "value"
        ],
        "type": "object"
      },
      "ResolveRoutineFieldResponse": {
        "properties": {
          "code": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "field_key": {
            "type": "string"
          },
          "ok": {
            "type": "boolean"
          },
          "session_metadata_patch": {
            "additionalProperties": true,
            "type": "object"
          },
          "value": {
            "$ref": "#/components/schemas/ResolvedRoutineValue"
          }
        },
        "required": [
          "ok",
          "field_key"
        ],
        "type": "object"
      },
      "ResolvedRoutineValue": {
        "properties": {
          "entity_id": {
            "type": "string"
          },
          "entity_type": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "metadata": {
            "additionalProperties": true,
            "type": "object"
          }
        },
        "required": [
          "entity_type",
          "entity_id",
          "label"
        ],
        "type": "object"
      },
      "RfidEntry": {
        "properties": {
          "antenna": {
            "type": "integer"
          },
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "read_count": {
            "type": "integer"
          },
          "rfid_code": {
            "type": "string"
          },
          "rssi": {
            "type": "integer"
          },
          "scanned_at": {
            "format": "date-time",
            "type": "string"
          },
          "session_id": {
            "format": "uuid",
            "type": "string"
          },
          "tid": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Routine": {
        "properties": {
          "code": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/RoutineConfig"
          },
          "created_at": {
            "format": "date-time",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "format": "uuid",
            "type": "string"
          },
          "updated_at": {
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RoutineAction": {
        "properties": {
          "config": {
            "additionalProperties": true,
            "type": "object"
          },
          "event_type": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "target_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "label"
        ],
        "type": "object"
      },
      "RoutineConfig": {
        "properties": {
          "completion_actions": {
            "items": {
              "$ref": "#/components/schemas/RoutineAction"
            },
            "type": "array"
          },
          "finish_fields": {
            "items": {
              "$ref": "#/components/schemas/RoutineField"
            },
            "type": "array"
          },
          "session_view": {
            "$ref": "#/components/schemas/RoutineSessionView"
          },
          "start_fields": {
            "items": {
              "$ref": "#/components/schemas/RoutineField"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "RoutineDefaultSort": {
        "properties": {
          "direction": {
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string"
          },
          "key": {
            "type": "string"
          }
        },
        "required": [
          "key",
          "direction"
        ],
        "type": "object"
      },
      "RoutineField": {
        "properties": {
          "capture_methods": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "display_in_sessions": {
            "type": "boolean"
          },
          "entity": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "options": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "required": {
            "type": "boolean"
          },
          "resolver": {
            "additionalProperties": true,
            "type": "object"
          },
          "searchable": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "key",
          "label",
          "type"
        ],
        "type": "object"
      },
      "RoutineSessionView": {
        "properties": {
          "default_columns": {
            "items": {
              "$ref": "#/components/schemas/RoutineViewColumn"
            },
            "type": "array"
          },
          "default_sort": {
            "$ref": "#/components/schemas/RoutineDefaultSort"
          }
        },
        "type": "object"
      },
      "RoutineViewColumn": {
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "key",
          "label"
        ],
        "type": "object"
      },
      "SKU": {
        "properties": {
          "attributes": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "barcode": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "created_at": {
            "format": "date-time",
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "product_title": {
            "type": "string"
          },
          "rfid_count": {
            "type": "integer"
          },
          "size": {
            "type": "string"
          },
          "sku_code": {
            "type": "string"
          },
          "updated_at": {
            "format": "date-time",
            "type": "string"
          },
          "variant_label": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Session": {
        "properties": {
          "completed_at": {
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "created_at": {
            "format": "date-time",
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "device": {
            "$ref": "#/components/schemas/Device"
          },
          "device_id": {
            "format": "uuid",
            "type": "string"
          },
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "metadata": {
            "additionalProperties": true,
            "type": "object"
          },
          "org_id": {
            "format": "uuid",
            "type": "string"
          },
          "status": {
            "enum": [
              "active",
              "completed",
              "cancelled"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "SessionDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Session"
          },
          {
            "properties": {
              "rfids": {
                "items": {
                  "$ref": "#/components/schemas/RfidEntry"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        ]
      },
      "SkuDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SKU"
          },
          {
            "properties": {
              "rfids": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        ]
      },
      "UpdateRoutineRequest": {
        "description": "All fields are optional. Only provided fields are updated.",
        "properties": {
          "code": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/RoutineConfig"
          },
          "description": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateSkuRequest": {
        "description": "All fields are optional. Only provided fields are updated.",
        "properties": {
          "attributes": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "barcode": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "product_title": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "variant_label": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "description": "Authorization: Bearer drfid_sk_live_...",
        "scheme": "bearer",
        "type": "http"
      },
      "cognitoAuth": {
        "bearerFormat": "JWT",
        "description": "Cognito JWT for authenticated organization users.",
        "scheme": "bearer",
        "type": "http"
      }
    }
  }
}
